.box-1 {
    background-color: blueviolet; height: 200px; width: 200px; border: solid 20px black;
}

.box-2 {
    background-color: royalblue; height: 200px; width: 200px; border: solid 20px black;
    margin-left: 240px;
}

.box-3 {
    background-color: burlywood; height: 200px; width: 200px; border: solid 20px black;
    margin-left: 480px;
}